<h1> </h1>
<div id="grid" class="container">
  <div class="row">
    <% @lists.each do |list|%>
      <div class="col-sm-4 profile">
        <div class="card">
          <div class="card__top">
            <% if list.photo.attached?  %>
              <%= cl_image_tag list.photo.key, alt: "text" %>
            <% else %>
              <%= image_tag list.bookmarks.any? ? list.bookmarks.first.movie.poster_url : "", alt: "text" %>
            <% end %>
            <div>
              <%= list.name %>
            </div>
          </div>
          <div class="card__bottom">
            <p class="pt-2">
              <%= link_to 'View', list_path(list) %>
            </p>
          </div>
        </div>
      </div>
    <%  end %>
  </div>
</div>
<div class="new">
  <%= link_to 'New List', new_list_path %>
</div>
