<div id="grid" class="container">
  <div class="row">
    <% @list.bookmarks.each do |bookmark| %>
      <div class="col-sm-4 profile">
        <div class="card show">
          <div class="card__top">
            <div class="tick">
              <div class="rating">
                <%= bookmark.movie.rating.to_f %>
              </div>
            </div>
            <img src="<%= bookmark.movie.poster_url %>" alt="" class="poster-image">
            <div id="info"></div>
            <h5>
              <%= link_to bookmark_path(bookmark), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
                <i class="fa-solid fa-square-minus"></i>
              <% end %>
            </h5>
          </div>
          <div class="card__bottom">
            <div class="description">
              <h3 class="movie-name">
                <%= bookmark.movie.title %>
              </h3>
              <p><%= truncate(bookmark.movie.overview, length: 200, omission: '... (continued)') %></p>
            </div>
            <div class="comment">
              <h5>Comment</h5>
              <p>
                <%= truncate(bookmark.comment, length: 100, omission: '... (continued)') %>
              </p>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
