<!DOCTYPE html>
<html>
  <head>
    <title>Watchlist</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" rel="stylesheet" type="text/css">
  </head>
  <body class="">
    <div class="content">
      <nav class="navbar-lewagon sticky-top">
        <div class="container">
          <div class="menu_title text-white p-2">
            <%= link_to 'Watchlist', root_path %>
            <h2>Watchlist</h2>
          </div>
          <div class="menu_links">
            <%= link_to 'Add List', new_list_path, class: "btn-user btn btn-sm btn-primary btn-login"%>
          </div>
        </div>
      </nav>
      <%= yield %>
    </div>
    <div class="footer">
      <p>Copyright © <a href="https://github.com/smackdh">Mattias</a> | Le Wagon 2022</p>
    </div>
  </body>
</html>
